<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="">
<head>
    <script src="../js/editHtml.js" type="text/javascript"></script>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/func.js?v=1.0" type="text/javascript"></script>
<script src="../js/func.js?v=1.0" type="text/javascript"></script>
<script src="../js/func.js?v=1.0" type="text/javascript"></script>
<script src="../js/jquery-ui-1.10.4.min.js" type="text/javascript"></script>
<script src="../js/jquery.serializejson.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
<meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
<meta name="author" content="PIXINVENT">
<title>中国网络安全审查与认证区块链平台-试运行数据上传</title>
<link rel="apple-touch-icon" href="../images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="../images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
  rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
  rel="stylesheet">
<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="../css/vendors.css">
<link rel="stylesheet" type="text/css" href="../vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../vendors/css/tables/jsgrid/jsgrid.min.css">
<!-- END VENDOR CSS-->
<!-- BEGIN MODERN CSS-->
<link rel="stylesheet" type="text/css" href="../css/app.css">
<!-- END MODERN CSS-->
<!-- BEGIN Page Level CSS-->
<link rel="stylesheet" type="text/css" href="../css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="../css/core/colors/palette-gradient.css">
<!-- END Page Level CSS-->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" href="../css/style.css">
<!-- END Custom CSS-->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
  rel="stylesheet">
  <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
  rel="stylesheet">
  <!-- BEGIN VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="../css/vendors.css">
  <link rel="stylesheet" type="text/css" href="../vendors/css/ui/jquery-ui.min.css">
  <!-- END VENDOR CSS-->
  <!-- BEGIN MODERN CSS-->
  <link rel="stylesheet" type="text/css" href="../css/app.css">
  <!-- END MODERN CSS-->
  <!-- BEGIN Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="../css/core/menu/menu-types/vertical-menu.css">
  <link rel="stylesheet" type="text/css" href="../css/core/colors/palette-gradient.css">
  <link rel="stylesheet" type="text/css" href="../css/plugins/ui/jqueryui.css">
  <!-- END Page Level CSS-->
  <!-- BEGIN Custom CSS-->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- END Custom CSS-->
<style type="text/css">
body {
	font-family:microsoft yahei!important;
}
@media (min-width: 768px)
.col-md-3 {
    flex: 0 0 25%;
    max-width:18%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width:19%;
}
.label-control{ line-height:34px;}


</style>
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-menu" data-col="2-columns">
<!-- fixed-top-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item"> <a class="navbar-brand" href="index.html"> <img class="brand-logo" alt="modern admin logo" src="../images/logo/logo.png">
          <h3 class="brand-text" style="color:#fff!important;font-size:16px;">质量认证区块链平台</h3>
          </a> </li>
        <li class="nav-item d-md-none"> <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a> </li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
  
          <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="search-details.html"><i class="ficon ft-search"></i></a>
            <div class="search-input">
              <input class="input" type="text" placeholder="Explore Modern...">
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item"> <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="mr-1">您好, <span class="user-name text-bold-700" id="currentLogin">丁**</span> </span> <span class="avatar avatar-online"> <img src="../images/portrait/small/me.png" alt="avatar"><i></i></span> </a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="ft-user"></i>个人信息</a> <a class="dropdown-item" href="#"><i class="ft-mail"></i> 个人信息</a> <a class="dropdown-item" href="#"><i class="ft-check-square"></i>个人信息</a> <a class="dropdown-item" href="#"><i class="ft-message-square"></i> 个人信息</a>
              <div class="dropdown-divider"></div>
                <script>
                    var unitt=Cookies.get("unittype");
                    var usert=Cookies.get("usertype");
                    var out="";
                    if(unitt=="1"){
                        out=out+"认证机构";
                    }
                    else if(unitt=="2"){
                        out=out+"检测检验机构";
                    }
                    else if(unitt=="3"){
                        out=out+"政府监管机构";
                    }
                    out=out+"的";
                    if(usert=="1"){
                        out=out+"业务员";
                    }
                    else if(usert=="2"){
                        out=out+"审核员";
                    }else if(usert=="3"){
                        out=out+"管理员";
                    }
                    $("#currentLogin").text(out);



                </script>
              <a class="dropdown-item" href="#" onclick="logout()"><i class="ft-power"></i> 退 出</a> </div>
          </li>
		  <script>
		  var token=Cookies.get("token");
						function logout(){
		var data1=JSON.stringify({"peers":["peer0.org1.example.com","peer0.org2.example.com","peer0.org3.example.com"],"fcn":"userLogout","args":[""]});			
        $.ajax({
            dataType:"json",
            type:"post",
			contentType: 'application/json',
			beforeSend: function(xhr) { 
								xhr.setRequestHeader("Authorization", "Bearer "+token);  
							},
			crossDomain: true,
            url:"http://47.105.220.31:4000/channels/mychannel/chaincodes/mycc",
            data:data1,
            eache: false,
            success: function (data) {
				console.log(data);
				if(data.success==true){
					Cookies.set("token","");
					window.location="login-simple.html";
				}
            },
            error: function () {
                return;
            }
        });
    
						
						}
					</script>
          <li class="dropdown dropdown-notification nav-item"> <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i> <span class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">5</span> </a>
            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
              <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0"> <span class="grey darken-2">消息通知</span> </h6>
                <span class="notification-tag badge badge-default badge-danger float-right m-0">5</span> </li>
              <li class="scrollable-container media-list w-100"> <a href="javascript:void(0)">
                <div class="media">
                  <div class="media-left align-self-center" style="padding-right:0.4rem;"><i class="ft-file icon-bg-circle bg-cyan" style="font-size:16px; padding:0.4rem;font-weight:normal;"></i></div>
                  <div class="media-body">
                    <h6 class="media-heading">目前待审核的信息有5条</h6>
                     </div>
                </div>
                </a> <a href="javascript:void(0)">
                <div class="media">
                  <div class="media-left align-self-center" style="padding-right:0.4rem;"><i class="ft-file icon-bg-circle bg-cyan" style="font-size:16px; padding:0.4rem;font-weight:normal;"></i></div>
                  <div class="media-body">
                    <h6 class="media-heading red darken-1">姜**下载了一条证书</h6>
                    </div>
                </div>
                </a> <a href="javascript:void(0)">
                <div class="media">
                  <div class="media-left align-self-center" style="padding-right:0.4rem;"><i class="ft-file icon-bg-circle bg-cyan" style="font-size:16px; padding:0.4rem;font-weight:normal;"></i></div>
                  <div class="media-body">
                    <p class="notification-text font-small-3 text-muted">谭*下载了一条证书</p>
                    <small>
                    </small> </div>
                </div>
                </a> <a href="javascript:void(0)">
                <div class="media">
                  <div class="media-left align-self-center" style="padding-right:0.4rem;"><i class="ft-file icon-bg-circle bg-cyan" style="font-size:16px; padding:0.4rem;font-weight:normal;"></i></div>
                  <div class="media-body">
                    <h6 class="media-heading">张*更新了个人信息资料</h6>
                   </div>
                </div>
                </a> <a href="javascript:void(0)">
                <div class="media">
                  <div class="media-left align-self-center" style="padding-right:0.4rem;"><i class="ft-file icon-bg-circle bg-cyan" style="font-size:16px; padding:0.4rem;font-weight:normal;"></i></div>
                  <div class="media-body">
                    <h6 class="media-heading">高*新注册了个人资料</h6>
                   </div>
                </div>
                </a> </li>
              <li class="dropdown-menu-footer" style="font-size:12px;"><a class="dropdown-item text-muted text-center" href="javascript:void(0)" style="padding-top:10px;">查看所有消息通知</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>
 <!-- menu start -->
<div class="main-menu menu-fixed menu-dark menu-accordion    menu-shadow " id="menu" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" style="font-family:microsoft yahei;">
            <li class="nav-item open" id="userRev"><a href="toUserReview"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">用户审核</span></a></li>
            <!-- <li class=" nav-item"><a href="#"><i class="la la-television"></i><span class="menu-title" data-i18n="nav.templates.main">用户维护</span></a> -->
            <!-- <ul class="menu-content">          -->
            <!-- <li><a class="menu-item" href="revise-password.html" data-i18n="">密码修改</a> </li> -->
            <!-- <li><a class="menu-item" href="recover-password.html" data-i18n="">忘记密码</a> </li> -->
            <!-- </ul> -->
            <!-- </li> -->

            <li class="nav-item"><a href="#"><i class="la la-columns"></i><span class="menu-title" data-i18n="nav.page_layouts.main">证书查询</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="Certificate_download.html" data-i18n="">综合查询</a> </li>
                    <li><a class="menu-item" href="search-details.html" data-i18n="">条件查询</a> </li>
                </ul>
            </li>
            <li class=" nav-item jianguanjigou"><a href="#"><i class="la la-navicon"></i><span class="menu-title" data-i18n="nav.navbars.main">数据审核</span></a>
                <ul class="menu-content">
                    <li class="has-sub"><a class="menu-item renzhengAndshenheyuan" href="#" data-i18n="nav.navbars.nav_light">认证数据审核</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="checkUploadApplyDataList.html" data-i18n=""> 证书申请资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadFileDataList.html" data-i18n="">文件审核资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadOnsiteDataList.html" data-i18n="">现场审核资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadCertificateDataList.html" data-i18n="">证书数据审核</a> </li>
                        </ul>
                    </li>

                    <li class="has-sub"><a class="menu-item jianceAndshenheyuan" href="" data-i18n="">检测检验数据审核</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="checkDataList.html?type=5" data-i18n=""> 检测检验审核</a> </li>
                            <li><a class="menu-item" href="checkDataList.html?type=6" data-i18n="">试运行数据审核</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item jianguanjigou"><a href="#"><i class="la la-navicon"></i><span class="menu-title" data-i18n="nav.navbars.main">数据上传</span></a>
                <ul class="menu-content">
                    <li class="has-sub"><a class="menu-item renzhengAndyewuyuan" href="#" data-i18n="nav.navbars.nav_light">认证数据上传</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="upload_Certificate_Application.html" data-i18n=""> 证书申请资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Document_audit_Application.html" data-i18n="">文件审核资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Site_audit.html" data-i18n="">现场审核资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Certificate_data.html" data-i18n="">证书数据上传</a> </li>
                        </ul>
                    </li>

                    <li class="has-sub"><a class="menu-item jianceAndyewuyuan" href="" data-i18n="">检测检验数据上传</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="upload_Detection.html" data-i18n=""> 检测检验上传</a> </li>
                            <li><a class="menu-item" href="upload_test_run.html" data-i18n="">试运行数据上传</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-item"><a href="#"><i class="la la-header"></i><span class="menu-title" data-i18n="nav.page_headers.main">平台监控</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="point_monitoring.html" data-i18n="">区块链状态监控</a> </li>
                    <li><a class="menu-item" href="block_monitoring.html" data-i18n="">区块信息监控</a> </li>
                    <li><a class="menu-item" href="toInformationStatic" data-i18n="">交易信息实时监控</a> </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb" style="font-family:microsoft yahei;">
                <li class="breadcrumb-item"><a href="/toindex">首页</a> </li>
                <li class="breadcrumb-item"><a href="">数据审核</a> </li>

                <li class="breadcrumb-item">试运行资料审核详情</li>
              
              
              
              
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body"> 
      
      <!-- 证书数据上传 start -->
      <section id="sorting-scenario">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" id="horz-layout-icons" style="margin:20px 0 0 20px; font-family:microsoft yahei;">试运行数据上传</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collpase show" style="padding-bottom:4rem;">
                  <div class="card-body">
                    <div class="card-text">
                      <p></p>
                    </div>
                    <!-- <form class="form form-horizontal"id="formid"> -->
                      <div class="form-body">
					                          <div class="form-group row">
                          <label class="col-md-3 label-control" for="timesheetinput1">证书编号</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="certificateID" readonly="readonly" class="form-control" placeholder="证书编号"
                              name="证书编号">
                              <div class="form-control-position">
                                <i class="ft-edit"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="timesheetinput1">委托人单位编号</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="unitID" readonly="readonly" class="form-control" placeholder="营业执照编号"
                              name="委托人单位编号">
                              <div class="form-control-position">
                                <i class="ft-edit"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="timesheetinput2">委托人单位名称</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="unitName" readonly="readonly" class="form-control" placeholder="委托人单位名称" name="委托人单位名称">
                              <div class="form-control-position">
                                <i class="la la-briefcase"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        
                        
                        
                       
                        
                        <div class="form-group row">
                          <label class="col-md-3 label-control">交易平台名称</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="platformName" readonly="readonly" class="form-control" placeholder="交易平台名称"
                              name="交易平台名称">
                              <div class="form-control-position">
                                <i class="ft-pie-chart"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        
                       
                        
                        <div class="form-group row">
                          <label class="col-md-3 label-control">交易平台版本</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="edition" readonly="readonly" class="form-control" placeholder="交易平台版本"
                              name="交易平台版本">
                              <div class="form-control-position">
                                <i class="ft-minus-square"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                         <div class="form-group row">
                          <label class="col-md-3 label-control">检测机构编号</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="testUnitID" readonly="readonly" class="form-control" placeholder="营业执照编号"
                              name="检测机构编号">
                              <div class="form-control-position">
                                <i class="ft-map-pin"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                          
                        <div class="form-group row">
                          <label class="col-md-3 label-control">检测机构名称</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="testUnitName" readonly="readonly" class="form-control" placeholder="检测机构名称"
                              name="检测机构名称">
                              <div class="form-control-position">
                                <i class="ft-user"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        
                         <div class="form-group row">
                          <label class="col-md-3 label-control">检测报告结论</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="conclusion" readonly="readonly" class="form-control" placeholder="检测报告结论"
                              name="检测报告结论">
                              <div class="form-control-position">
                                <i class="ft-edit-2"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div> 
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         
                         <div class="form-group row">
                          <label class="col-md-3 label-control">试运行时间</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                               <input type="text" id="testRunTime" readonly="readonly" class="form-control"  placeholder="试运行时间"
                              name="试运行时间"/>
                              <div class="form-control-position">
                                <i class="ft-clock"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                         
                         
                        
                     
                     
                    </div>
                       
                       <div class="form-group row">
                          <label class="col-md-3 label-control" for="timesheetinput2">检测人证件号码</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="testingPersonID" readonly="readonly" class="form-control" placeholder="检测人证件号码" name="检测人证件号码">
                              <div class="form-control-position">
                                <i class="la la-briefcase"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        
                        
                        
                        
                        <div class="form-group row">
                          <label class="col-md-3 label-control">检测人姓名</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="testingPersonName" readonly="readonly" class="form-control" placeholder="检测人姓名"
                              name="检测人姓名">
                              <div class="form-control-position">
                                <i class="ft-user"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                       
                       
              
                       
             <!--              <div class="form-group row">
                          <label class="col-md-3 label-control">私钥加密后的数据摘要</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="encryptedSummary" class="form-control" placeholder="私钥加密后的数据摘要"
                              name="私钥加密后的数据摘要">
                              <div class="form-control-position">
                                <i class="ft-layout"></i>
                              </div>
                            </div>
                          </div>
                        </div>   -->
                       
                       
                        
                        <div class="form-group row">
                          <label class="col-md-3 label-control">数据上传人证件号码</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="postPersonID" readonly="readonly" class="form-control" placeholder="数据上传人证件号码"
                              name="数据上传人证件号码">
                              <div class="form-control-position">
                                <i class="ft-credit-card"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control">数据上传人证件姓名</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <input type="text" id="postPersonName" readonly="readonly" class="form-control" placeholder="数据上传人证件姓名"
                              name="数据上传人证件姓名">
                              <div class="form-control-position">
                                <i class="ft-user"></i>
                              </div>
                            </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                        </div>



                      <div class="form-group row">
                          <label class="col-md-3 label-control">数据审核人姓名</label>
                          <div class="col-md-9">
                              <div class="position-relative has-icon-left">
                                  <input type="text" id="checkPersonName"  readonly="readonly" class="form-control" placeholder="审核人证件姓名"
                                         name="审核人姓名">
                                  <div class="form-control-position">
                                      <i class="ft-user"></i>
                                  </div>
                              </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 label-control">数据审核人证件号码</label>
                          <div class="col-md-9">
                              <div class="position-relative has-icon-left">
                                  <input type="text" id="checkPersonID" readonly="readonly"  class="form-control" placeholder="审核人证件姓名"
                                         name="审核人证件号码">
                                  <div class="form-control-position">
                                      <i class="ft-user"></i>
                                  </div>
                              </div>
                          </div><font color="red" style="float:right;font-size:20px;">*</font>
                      </div>




                  </div>
                    <div class="form-actions right">
                        <button onclick="uploadTestRun()" class="btn btn-primary mr-1"
                                style="margin:0 0 0 214px;padding-left:40px; padding-right:40px;">
                            通过审核
                        </button>
                        <button type="button" onclick="notAcess()" class="btn btn-warning"
                                style="padding-left:40px; padding-right:40px;">
                            未通过审核
                        </button>
                    </div>
                    <!-- </form> -->
                    <script>
                        window.checked="true";
                        $(function (){
                            var id = getQueryString("id");
                            window.id=id;
                            $.ajax({
                                dataType:"json",
                                type:"post",
                                crossDomain: true,
                                contentType: 'application/json',
                                url:"/getDataDetails?id="+id,
                                eache: false,
                                success: function (data) {
                                    var basedata = JSON.parse(data.basedata)
                                    console.log(basedata);

                                    if(basedata.length>3){
                                        if(basedata[2]){
                                            var tmp = basedata[2]
                                            $("#conclusion").val(tmp.conclusion)
                                            $("#edition").val(tmp.edition)
                                            $("#platformName").val(tmp.platformName)
                                            $("#postPersonID").val(tmp.postPersonID)
                                            $("#postPersonName").val(tmp.postPersonName)
                                            $("#testingPersonID").val(tmp.testingPersonID)
                                            $("#testingPersonName").val(tmp.testingPersonName)
                                            $("#testRunTime").val(tmp.testRunTime)
                                            $("#testUnitName").val(tmp.testUnitName)
                                            $("#testUnitID").val(tmp.testUnitID)
                                            $("#unitName").val(tmp.unitName)
                                            $("#unitID").val(basedata[1])
                                            $("#certificateID").val(basedata[0])
                                            var name=Cookies.get('username');
                                            var id=Cookies.get('userid');
                                            $('#checkPersonName').val(id.split(";")[1]);
                                            $('#checkPersonID').val(id.split(";")[0]);
                                        }
                                    }else {
                                        alert("数据错误！")
                                    }


                                },
                                error: function () {
                                    alert("数据错误！");
                                }
                            });


                        });

                        function notAcess() {
                            window.checked="false";
                            var checkPersonID=document.getElementById("checkPersonID").value;
                            var checkPersonName=document.getElementById("checkPersonName").value;
                            var checkdata = JSON.stringify({"id":window.id,"check":window.checked,"checkPersonID":checkPersonID,"checkPersonName":checkPersonName})

                            $.ajax({
                                dataType:"json",
                                type:"post",
                                crossDomain: true,
                                contentType: 'application/json',
                                url:"/checkCertificate",
                                data:checkdata,
                                eache: false,
                                success: function (data) {
                                    window.location.href="/checkDataList.html?type=6";
                                },
                                error: function () {
                                    alert("error");

                                }
                            });
                        }
                    </script>
                     <script>

						var token=Cookies.get('token');
						function uploadTestRun(){
						var certificateID=document.getElementById("certificateID").value;
						var unitId=document.getElementById("unitID").value;
						var unitName=document.getElementById("unitName").value;
						var platformName=document.getElementById("platformName").value;
						var edition=document.getElementById("edition").value;
						var testUnitID=document.getElementById("testUnitID").value;
						var testUnitName=document.getElementById("testUnitName").value;
						var conclusion=document.getElementById("conclusion").value;
						var testRunTime=document.getElementById("testRunTime").value;
						var testingPersonID=document.getElementById("testingPersonID").value;
						var testingPersonName=document.getElementById("testingPersonName").value;
					 //var encryptedSummary=document.getElementById("encryptedSummary").value;
					 var postPersonID=document.getElementById("postPersonID").value;
					 var postPersonName=document.getElementById("postPersonName").value;
                            var checkPersonID=document.getElementById("checkPersonID").value;
                            var checkPersonName=document.getElementById("checkPersonName").value;
					 if(certificateID==""||unitId==""||unitName==""||platformName==""||edition==""||testUnitID==""||testUnitName==""||conclusion==""||testRunTime==""||testingPersonID==""||testingPersonName==""||postPersonID==""||postPersonName==""){
						alert("不能有数据为空");
						if(certificateID==""){
								document.getElementById('certificateID').style.border = '#FF0000 1px solid';
							}
						if(unitId==""){
								document.getElementById('unitID').style.border = '#FF0000 1px solid';
							}
						if(unitName==""){
								document.getElementById('unitName').style.border = '#FF0000 1px solid';
							}
						if(platformName==""){
								document.getElementById('platformName').style.border = '#FF0000 1px solid';
							}
						if(edition==""){
								document.getElementById('edition').style.border = '#FF0000 1px solid';
							}
						if(testUnitID==""){
								document.getElementById('testUnitID').style.border = '#FF0000 1px solid';
							}
						if(testUnitName==""){
								document.getElementById('testUnitName').style.border = '#FF0000 1px solid';
							}
						if(conclusion==""){
								document.getElementById('conclusion').style.border = '#FF0000 1px solid';
							}
						if(testRunTime==""){
								document.getElementById('testRunTime').style.border = '#FF0000 1px solid';
							}
						if(testingPersonID==""){
								document.getElementById('testingPersonID').style.border = '#FF0000 1px solid';
							}
						if(testingPersonName==""){
								document.getElementById('testingPersonName').style.border = '#FF0000 1px solid';
							}
						if(postPersonID==""){
								document.getElementById('postPersonID').style.border = '#FF0000 1px solid';
							}
						if(postPersonName==""){
								document.getElementById('postPersonName').style.border = '#FF0000 1px solid';
							}
						if(certificateID!=""){
								document.getElementById('certificateID').style.border = '#BABFC7 1px solid';
							}
						if(unitId!=""){
								document.getElementById('unitID').style.border = '#BABFC7 1px solid';
							}
						if(unitName!=""){
								document.getElementById('unitName').style.border = '#BABFC7 1px solid';
							}
						if(platformName!=""){
								document.getElementById('platformName').style.border = '#BABFC7 1px solid';
							}
						if(edition!=""){
								document.getElementById('edition').style.border = '#BABFC7 1px solid';
							}
						if(testUnitID!=""){
								document.getElementById('testUnitID').style.border = '#BABFC7 1px solid';
							}
						if(testUnitName!=""){
								document.getElementById('testUnitName').style.border = '#BABFC7 1px solid';
							}
						if(conclusion!=""){
								document.getElementById('conclusion').style.border = '#BABFC7 1px solid';
							}
						if(testRunTime!=""){
								document.getElementById('testRunTime').style.border = '#BABFC7 1px solid';
							}
						if(testingPersonID!=""){
								document.getElementById('testingPersonID').style.border = '#BABFC7 1px solid';
							}
						if(testingPersonName!=""){
								document.getElementById('testingPersonName').style.border = '#BABFC7 1px solid';
							}
						if(postPersonID!=""){
								document.getElementById('postPersonID').style.border = '#BABFC7 1px solid';
							}
						if(postPersonName!=""){
								document.getElementById('postPersonName').style.border = '#BABFC7 1px solid';
							}
					//window.location.href="upload_test_run.html";
					 }
					 else if(testingPersonID.length!=18||postPersonID.length!=18){
						alert("身份证号格式不正确");
							//window.location.href="upload_test_run.html";
							document.getElementById('testingPersonID').style.border = '#FF0000 1px solid';
						document.getElementById('postPersonID').style.border = '#FF0000 1px solid';
					 }
					 else{
                         var transaction="null";
					 var basedata=JSON.stringify({"unitName":unitName,"platformName":platformName,"edition":edition,"testUnitID":testUnitID,"testUnitName":testUnitName,"conclusion":conclusion,"testRunTime":testRunTime,"testingPersonID":testingPersonID,"testingPersonName":testingPersonName,"postPersonID":postPersonID,"postPersonName":postPersonName});
					 var data1=JSON.stringify({"peers":["peer0.org1.example.com","peer0.org2.example.com","peer0.org3.example.com"],"fcn":"trialRunDataUpload","args":[certificateID,unitId,basedata,""]});
							$.ajax({
								dataType:"json",
								type:"post",
								contentType: 'application/json',
								url:"http://47.105.220.31:4000/channels/mychannel/chaincodes/mycc",
								crossDomain: true, 
							
								beforeSend: function(xhr) { 
									xhr.setRequestHeader("Authorization", "Bearer "+token);  
								},
								data:data1,
                                async:false,
								eache: false,
								success: function (data) {
									console.log(data);
									if(data.success==true){
									alert("上传成功");
									transaction=data.message.split(":")[1].replace(/^\s+|\s+$/g,"");
									alert("您的txid为："+transaction+",请妥善保管");

									Cookies.set("transaction",transaction);
										window.location="index.html";
										
									}
								},
								error: function () {
									alert("上传失败");
									return;
								}
							});
						console.log(basedata);
						console.log(data1);
                         var checkdata = JSON.stringify({"id":window.id,"transaction":transaction,"check":window.checked,"checkPersonID":checkPersonID,"checkPersonName":checkPersonName})
                         $.ajax({
                             type:"post",
                             crossDomain: true,
                             contentType: 'application/json',
                             url:"/checkCertificate",
                             data:checkdata,
                             eache: false,
                             success: function (data) {
                                 window.location.href="/checkDataList.html?type=6";

                             },
                             error: function () {
                                 alert("error");

                             }
                         });
						}
						}
					</script>
                  </div>
                </div>
              </div>
            </div></section>
          </div>
      
      <!-- 文件审核资料上传 end --> 
      
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"> <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2019<a class="text-bold-800 grey darken-2" href="index.html"
        target="_blank">中科启信 </a>, All rights reserved. </span> </p>
</footer>
<!-- BEGIN VENDOR JS--> 
 <script src="../vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS--> 
<!-- BEGIN PAGE VENDOR JS--> 

<!-- END PAGE VENDOR JS--> 
<!-- BEGIN MODERN JS--> 
<script src="../js/core/app-menu.js" type="text/javascript"></script> 
<script src="../js/core/app.js" type="text/javascript"></script> 
<script src="../js/scripts/customizer.js" type="text/javascript"></script> 
<!-- END MODERN JS--> 
<!-- BEGIN PAGE LEVEL JS--> 
<script src="../js/scripts/tables/jsgrid/jsgrid.js" type="text/javascript"></script> 
<!-- END PAGE LEVEL JS-->

<!-- BEGIN VENDOR JS-->
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script src="../js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN MODERN JS-->
 <!-- <script src="../js/core/app-menu.js" type="text/javascript"></script>
  <script src="../js/core/app.js" type="text/javascript"></script>
  <script src="../js/scripts/customizer.js" type="text/javascript"></script>-->
  <!-- END MODERN JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="../js/scripts/ui/jquery-ui/date-pickers.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS-->
<script src="../js/editHtml.js" type="text/javascript"></script>
</body>
</html>