<!-- menu start -->
<div class="main-menu menu-fixed menu-dark menu-accordion    menu-shadow " id="menu" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" style="font-family:microsoft yahei;">
            <li class="nav-item open" id="userRev"><a href="toUserReview"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">用户审核</span></a></li>
            <!-- <li class=" nav-item"><a href="#"><i class="la la-television"></i><span class="menu-title" data-i18n="nav.templates.main">用户维护</span></a> -->
            <!-- <ul class="menu-content">          -->
            <!-- <li><a class="menu-item" href="revise-password.html" data-i18n="">密码修改</a> </li> -->
            <!-- <li><a class="menu-item" href="recover-password.html" data-i18n="">忘记密码</a> </li> -->
            <!-- </ul> -->
            <!-- </li> -->

            <li class="nav-item"><a href="#"><i class="la la-columns"></i><span class="menu-title" data-i18n="nav.page_layouts.main">证书查询</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="Certificate_download.html" data-i18n="">综合查询</a> </li>
                    <li><a class="menu-item" href="search-details.html" data-i18n="">条件查询</a> </li>
                </ul>
            </li>
            <li class=" nav-item jianguanjigou"><a href="#"><i class="la la-navicon"></i><span class="menu-title" data-i18n="nav.navbars.main">数据审核</span></a>
                <ul class="menu-content">
                    <li class="has-sub"><a  class="menu-item renzhengAndshenheyuan" href="#" data-i18n="nav.navbars.nav_light">认证数据审核</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="checkUploadApplyDataList.html" data-i18n=""> 证书申请资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadFileDataList.html" data-i18n="">文件审核资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadOnsiteDataList.html" data-i18n="">现场审核资料审核</a> </li>
                            <li><a class="menu-item" href="checkUploadCertificateDataList.html" data-i18n="">证书数据审核</a> </li>
                        </ul>
                    </li>

                    <li class="has-sub"><a class="menu-item jianceAndshenheyuan" href="" data-i18n="">检测检验数据审核</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="checkDataList.html?type=5" data-i18n=""> 检测检验审核</a> </li>
                            <li><a class="menu-item" href="checkDataList.html?type=6" data-i18n="">试运行数据审核</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item jianguanjigou"><a href="#"><i class="la la-navicon"></i><span class="menu-title" data-i18n="nav.navbars.main">数据上传</span></a>
                <ul class="menu-content">
                    <li class="has-sub"><a class="menu-item renzhengAndyewuyuan" href="#" data-i18n="nav.navbars.nav_light">认证数据上传</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="upload_Certificate_Application.html" data-i18n=""> 证书申请资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Document_audit_Application.html" data-i18n="">文件审核资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Site_audit.html" data-i18n="">现场审核资料上传</a> </li>
                            <li><a class="menu-item" href="upload_Certificate_data.html" data-i18n="">证书数据上传</a> </li>
                        </ul>
                    </li>

                    <li class="has-sub"><a class="menu-item jianceAndyewuyuan" href="" data-i18n="">检测检验数据上传</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="upload_Detection.html" data-i18n=""> 检测检验上传</a> </li>
                            <li><a class="menu-item" href="upload_test_run.html" data-i18n="">试运行数据上传</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-item"><a href="#"><i class="la la-header"></i><span class="menu-title" data-i18n="nav.page_headers.main">平台监控</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="point_monitoring.html" data-i18n="">区块链状态监控</a> </li>
                    <li><a class="menu-item" href="block_monitoring.html" data-i18n="">区块信息监控</a> </li>
                    <li><a class="menu-item" href="toInformationStatic" data-i18n="">交易信息实时监控</a> </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<script>

</script>

